html
  head
    title FCC Advanced Node and Express
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
  body
    h1.border.center FCC Advanced Node and Express
    h2.center#pug-success-message
    | Looks like this page is being rendered from Pug into HTML!
    | #{title}
    p#pug-variable=message
    
    
    
    if showLogin
      hr
      h2.center Login Form
      form(action='/login', method='post').center
        div
          label Username:
          input(type='text', name='username')
        div
          label Password:
          input(type='password', name='password')
        div
          input(type='submit', value='Log In')
          
    if showRegistration
      hr
      h2.center Registration Form
      form(action='/register', method='post').center
        div
          label Username:
          input(type='text', name='username')
        div
          label Password:
          input(type='password', name='password')
        div
          input(type='submit', value='Register')

    if showSocialAuth
      hr
      h2.center Social Login
      .login.center
        a(href='/auth/github').text Login with Github!